name: Deploy to Modal

on:
  workflow_dispatch:
  schedule:
    - cron: '48 18 * * *'  # 每天 26 点
jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 5   

    env:
      MODAL_TOKEN_ID: ${{ secrets.MODAL_TOKEN_ID }}
      MODAL_TOKEN_SECRET: ${{ secrets.MODAL_TOKEN_SECRET }}
      MODAL_CONFIG_DIR: /home/runner/.modal  # 强制写入 Modal CLI 配置目录

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Modal SDK
        run: pip install --no-cache-dir --upgrade "modal>=0.58.0"

      - name: Check Modal version
        run: python -c "import modal; print(modal.__version__)"

      - name: Inject Modal Token
        run: |
          mkdir -p $MODAL_CONFIG_DIR
          echo -e "[default]" > $MODAL_CONFIG_DIR/token.toml
          echo -e "token_id = \"$MODAL_TOKEN_ID\"" >> $MODAL_CONFIG_DIR/token.toml
          echo -e "token_secret = \"$MODAL_TOKEN_SECRET\"" >> $MODAL_CONFIG_DIR/token.toml
          

      - name: Run app remotely
        run: python deploy.py --sandbox
      
      - name: Commit time.txt to repo
        env:
         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          # 如果 time.txt 不存在，说明是第一次运行
          if [ ! -f time.txt ]; then
            echo "首次生成时间：$(date +'%Y-%m-%d %H:%M:%S')" > time.txt
          else
            echo "$(date +'%Y-%m-%d %H:%M:%S')" > time.txt
          fi

          git add time.txt

          # 如果有更改再提交
          if git diff --cached --quiet; then
            echo "无变化，无需提交"
          else
            git commit -m "⏱️ 更新时间文件: $(date +'%Y-%m-%d %H:%M:%S')"
            git push origin HEAD:main
          fi